* {
    margin: 0;
    padding: 0;
    box-sizing: border-box    
}



.menu-container {
    background-color:silver;
    color: #fff;
    padding: 2% 0;
    display:flex;
    justify-content: center;
    
    
}
.menu {
    border: 0;
    width: 20%;
    display:flex ;
    justify-content: space-around;
    margin-right: 5%;
    font-size: 20px;    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    .logo {
        font-size: 30px;
        left: 10px;
        position: absolute;
    }
    
}
a:link {
    color:#fff;
    text-decoration: none;
}
a:visited {
    color:#fff;
    text-decoration: none;
}
a:hover {
    color: darkseagreen;
    
}


 #titleBestMovie {
    position: absolute; 
    font-size: 80px;
    color: gold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: 10px;
    top:200px;
}


.moreInfo {
    position: absolute;
    width:200px;
    height:70px;
    font-size: 18px;
    border-radius: 8px;
    color: #fff;
    border: rgb(231, 73, 73);
    background-color: rgb(231, 73, 73) ;    
    left: 115px;
    top: 320px; 
}
button:hover {
    text-transform:capitalize;
    color: rgb(1, 10, 29);
}

#description {
    position: absolute; 
    font-size: 30px;  
    color:#fff;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: 10px;
    top:410px;
}

p {
  font-size: 20px;
}






/* slideshow part */
.main-wrapper {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.wrapper {
  position: relative;
  max-width: 1200px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
}
.arrow:hover {
  background-color: rgba(0, 0, 0, .7);
}
.arrow.prev1 {
  left: 0;
}
.arrow.next1 {
  right: 0;
}
.arrow.prev2 {
  left: 0;
}
.arrow.next2 {
  right: 0;
}
.arrow.prev3 {
  left: 0;
}
.arrow.next3 {
  right: 0;
}
.arrow.prev4 {
  left: 0;
}
.arrow.next4 {
  right: 0;
}
.card-wrapper1, .card-wrapper2, .card-wrapper3, .card-wrapper4 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 280px;
  overflow-x: auto;
  padding: 24px;
  gap: 24px;
  cursor: grab;
  scroll-snap-type: x;
  scroll-padding-inline: 24px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.card-wrapper1::-webkit-scrollbar {
  display: none;
}
.card-wrapper1.grab {
  cursor: grabbing;
  user-select: none;
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.card-wrapper2::-webkit-scrollbar {
  display: none;
}
.card-wrapper2.grab {
  cursor: grabbing;
  user-select: none;
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.card-wrapper3::-webkit-scrollbar {
  display: none;
}
.card-wrapper3.grab {
  cursor: grabbing;
  user-select: none;
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.card-wrapper4::-webkit-scrollbar {
  display: none;
}
.card-wrapper4.grab {
  cursor: grabbing;
  user-select: none;
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.card-item {
  scroll-snap-align: start;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 8px 8px 24px rgba(0, 0, 0, .1);
}
.card-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 575px) {
  .arrow {
      display: none;
  }
  .card-wrapper1, .card-wrapper2 {
      margin-left: -16px;
      width: 100vw;
  }
}




/* modal part */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }