* {
    margin: 0;
    padding: 0;
    
    
    
}
.menu-container {
    background-color:silver;
    color: #fff;
    padding: 2% 0;
    display:flex;
    justify-content: center;
    
    
}
.menu {
    border: 0;
    width: 20%;
    display:flex ;
    justify-content: space-around;
    margin-right: 5%;
    font-size: 20px;    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    .logo {
        font-size: 30px;
        left: 10px;
        position: absolute;
    }
    
}
a:link {
    color:#fff;
    text-decoration: none;
}
a:visited {
    color:#fff;
    text-decoration: none;
}
a:hover {
    color: darkseagreen;
    
}


 #titleBestMovie {
    position: absolute; 
    font-size: 80px;
    color: gold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: 10px;
    top:200px;
}


button {
    position: absolute;
    width:200px;
    height:70px;
    font-size: 18px;
    border-radius: 8px;
    color: #fff;
    border: rgb(231, 73, 73);
    background-color: rgb(231, 73, 73) ;    
    left: 115px;
    top: 320px; 
}
button:hover {
    text-transform:capitalize;
    color: rgb(1, 10, 29);
}

#description {
    position: absolute; 
    font-size: 30px;  
    color:#fff;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: 10px;
    top:410px;
}

p {
  font-size: 20px;
}




* {box-sizing: border-box}
.mySlides1, .familyMovies {display: none;text-align: center;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 60%;
  position: relative;
  margin: auto;
  background-color: #000;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}






/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }