* {
    margin: 0;
    padding: 0;
    
    
    
}
.menu-container {
    background-color:silver;
    color: #fff;
    padding: 2% 0;
    display:flex;
    justify-content: center;
    
    
}
.menu {
    border: 0;
    width: 20%;
    display:flex ;
    justify-content: space-around;
    margin-right: 5%;
    font-size: 20px;    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    .logo {
        font-size: 30px;
        left: 10px;
        position: absolute;
    }
    
}
a:link {
    color:#fff;
    text-decoration: none;
}
a:visited {
    color:#fff;
    text-decoration: none;
}
a:hover {
    color: darkseagreen;
    
}


 #title-one {
    position: absolute; 
    font-size: 80px;
    color: gold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: 10px;
    top:200px;
}


button {
    position: absolute;
    width:200px;
    height:70px;
    font-size: 18px;
    border-radius: 8px;
    color: #fff;
    border: rgb(231, 73, 73);
    background-color: rgb(231, 73, 73) ;    
    left: 115px;
    top: 320px; 
}
button:hover {
    text-transform:capitalize;
    color: rgb(1, 10, 29);
}

#description {
    position: absolute; 
    font-size: 30px;  
    color:#fff;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: 10px;
    top:410px;
}